body{
  background: #1e1e2f;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 20px;
}

.search-container {
  margin-bottom: 20px;
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 250px;
}

button{
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.card{
  background: #282845;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
  display: inline-block;
  width: 300px;
}

