body{
  background: linear-gradient(#1e1e2f, #34345a);
  min-height: 100vh;
  color: white;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  text-align: center;
  padding: 20px;
}

.title{
  font-size: 36px;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  width: 240px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.search-bar button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  background: #5a5af0;
  color: white;
  cursor: pointer;
}

.weather-card {
background: rgba(255, 225, 225, 0.1);
padding: 25px;
margin: 25px auto;
width: 300px;
border-radius: 20px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.weather-card img {
  width: 100px;
}

.details p {
  margin: 5px 0;
}