.search-bar {
    display: flex;
    max-width: 500px;
    margin: 0 auto 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    overflow: hidden;
}

.search-input {
    flex: 1;
    padding: 15px 25px;
    border: none;
    font-size: 1rem;
    outline: none;
    color: #333;
}

.search-button {
    background-color: #0077b6;
    border: none;
    color: white;
    padding: 0 25px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.search-button:hover {
    background-color: #023e8a;
}

.search-icon{
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .search-bar {
        margin-bottom: 20px;
    }

    .search-input {
        font-size: 0.9rem;
        padding: 12px 20px;
    }

    .search-button {
        padding: 0 20px;
    }
}