.weather-card{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(10px);
}

.weather-location{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.weather-location h2{
    font-size: 2rem;
    color: #7a288a;
    margin-bottom: 5px;
}

.weather-description{
   text-transform: capitalize;
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-bottom: 1.5rem;
}

.weather-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.weather-temp h1{
    font-size: 4rem;
    font-weight: bold;
    color:#7a288a;
    margin: 1rem 0;
}

.weather-temp p{
    color: #7f8c8d;
    margin-top: 5px;
}

.weather-icon img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.weather-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 15px;
}

.detail-item{
    text-align: center;
}

.detail-label{
    display: block;
    color: #7f8c8d;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.detail-value{
    font-size: 1.1rem;
    color: #2c3e50;
    font-weight: 600;
}

@media(max-width: 768px){
    .weather-card{
        padding: 20px 15px;
    }

    .weather-main{
        flex-direction: column;
        text-align: center;
    }

    .weather-temp{
        margin-bottom: 20px;
    }

    .weather-details{
        grid-template-columns: 1fr;
        gap: 15px;
    }
}